.App {
  background-color: rgb(244, 250, 247);
}
.loadingSpinner {
  max-width: 100px;
  animation-name: loader-spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-;
  animation-fill-mode: none;
  margin: 20px;
}
@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  80%,
  100% {
    transform: rotate(1080deg);
  }
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
